.leftSection-container{

    .leftSection-btnContainer{
        display:grid;
        .btn__right--default{
            width: 5rem;
        }
        .btn__right--chat{
            width: 5rem;
    
        }
    }

}