.adGroup-accordian {
  width: 100%;
  .adGroup-accordian__btn--turn {
    background: black;
    color: white;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .adGroup-panel {
    width: 100%;
    display: block;
    max-height: 0px;
    overflow: hidden;
    // .Priority-labelSection {
    //   &:first-child {
    //     margin-top: 0.4rem;
    //   }
    //   font-weight: bold;
    // }
    .postList-section {
      width: 100%;
      .title-section {
        // display: table-cell;
        // vertical-align: middle;
        overflow: hidden;
        height: 2rem;
        padding: 3px;
        background: rgba(3, 93, 111, 0.567);
        color: white;
        // border-top-left-radius: 5px;
        // border-bottom-left-radius: 5px;
      }
      .middler-container {
        display: flex;
        .content-section {
          cursor: pointer;
          padding-top: 0.4rem;
          padding-bottom: 0.5rem;
          width: 24.5rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: white;
          background: rgb(103, 186, 214);
          padding-left: 5px;
        }
        .move__btn {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 2rem;
          padding: 3px;
          background: rgb(174, 219, 235);
          color: white;
          // border-top-right-radius: 5px;
          // border-bottom-right-radius: 5px;
          cursor: pointer;
          &:hover {
            color: black;
            background: blue;
          }
        }
      }
    }
    .ctrSection {
      border-bottom: solid 1px black;
      display: flex;
      color: white;

      .ctrSection__btn--delete {
        cursor: pointer;
        background-color: rgba(118, 111, 111, 0.682);
        width: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;

        &:hover {
          background-color: rgba(84, 79, 79, 0.682);
          transition: background-color 0.5s ease-in-out;
        }
      }
      .ctrSection__btn--modify {
        cursor: pointer;
        width: 50%;
        background-color: rgba(118, 111, 111, 0.682);
        border: none;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: rgba(84, 79, 79, 0.682);
          transition: background-color 0.5s ease-in-out;
        }
      }
    }
    .bottom_padding {
      width: 100%;
      height: 1rem;
    }
  }
  .adGroup-bottom {
    margin-bottom: 1rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.81);
    color: white;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: rgba(0, 0, 0, 0.195);
      transition: background-color 0.5s ease-in-out;
    }
  }
  .pagination-section {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
  }
}
