.MapPageLabel-container {
  z-index: -99991;
  width: 100vw;
  height: 20rem;
  background: linear-gradient(to bottom, transparent, white),
    url(../../../../../public/assets/background/images/multiLine.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .firstCommend-line {
    position: absolute;
    margin-left: 15rem;
    margin-top: 5rem;
    span {
      &:nth-child(1) {
        color: white;
        font-size: 3em;
        text-shadow: 6px 2px 2px rgba(67, 103, 149, 0.667);
      }
      &:nth-child(3) {
        line-height: 3rem;
        color: white;
        font-size: 1.7em;
        text-shadow: 6px 2px 2px rgba(67, 103, 149, 0.667);
      }
    }
  }
}

.MapPageLabel-wrapper {
  position: absolute;
  margin-top: -1.2rem;
  font-size: 2em;
  color: white;
  font-weight: bold;
  z-index: 1000;
  margin-left: 8rem;
}
