@import "../../_colors.scss";
@import "../../mixins.scss";

.inquiry_container {
  display: flex;
  width: 100%;
  .inquiryList_container {
    width: 60%;
    .inquiryList_ListSection {
      flex-wrap: wrap;
      display: flex;
      padding-bottom: -10px;
      // background: black;

      p {
        padding: 0.5rem;
        // width: 100%;
        color: black;
        align-self: center;
        text-align: center;
        margin: 0;
        font-size: 0.8em;

        &:nth-child(1) {
          color: gray;

          width: 10%;
        }
        &:nth-child(2) {
          text-align: left;

          width: 40%;
        }
        &:nth-child(3) {
          width: 20%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:nth-child(5) {
          width: 10%;
        }
        &:nth-child(6) {
          width: auto;
        }
      }
      .partitionList_ListSection {
        height: 1px;
        background: gray;
        // width: 100%;
      }
    }
  }
  .menuBox_container {
    width: 40%;
    .menuBox_wrapper {
      height: 100rem;
    }
  }
}
