.group-container {
  margin-top: 1rem;
  margin-left: 1rem;

  textarea {
    vertical-align: middle;
    overflow: hidden;
    width: 30rem;
    font-size: 1.5em;
    height: 1.5em;
    resize: none;
  }

  .topic-container {
    margin-bottom: 1rem;
    &::before {
      content: "주제";
      margin-right: 1rem;
      font-size: 1.5em;
    }
    &::after {
      content: "*주요 키워드를 입력해주세요 ex)축구관전";
      color: rgba(207, 194, 194, 0.751);
      margin-left: 1rem;
    }
    textarea {
    }
  }

  .title-container {
    display: flex;
    margin-bottom: 1rem;
    &::before {
      content: "제목";
      font-size: 1.5em;
      margin-right: 1rem;
    }

    .site-calendar-demo-card {
      .calendal-wrapper {
        .range-wrapper {
          display: flex;
          &::before {
            width: 7rem;
            content: "모집 기한";
            font-size: 1.5em;
            margin-left: 1rem;
            margin-right: 1rem;
          }
          .ant-picker-range {
            width: 15rem;
          }
        }
        .date-wrapper {
          display: flex;
          &::before {
            margin-top: 0.2rem;
            width: 7rem;
            content: "집합 날짜";
            font-size: 1.5em;
            margin-left: 1rem;
            margin-right: 1rem;
          }
          .ant-picker {
            margin-top: 0.3rem;
            width: 15rem;
          }
        }
      }
    }
    textarea {
    }
  }
  .content-container {
    margin-bottom: 1rem;
    &::before {
      content: "내용";
      font-size: 1.5em;
      margin-right: 1rem;
    }
    textarea {
      vertical-align: top;
      width: 50rem;
      height: 8rem;
      resize: none;
    }
  }
  .place-container {
    display: flex;
    &::before {
      content: "집합 장소";
      font-size: 1.5em;
      margin-right: 1rem;
    }

    textarea {
      width: 20rem;
    }
    .submit-container {
      &::before {
        content: "*집합 하실 지명 또는 건물 명을 쓰시오.";
        color: rgba(207, 194, 194, 0.751);
        margin-left: 1rem;
        margin-right: 1rem;
      }
      button {
        width: 4rem;
        height: 3rem;
        border: double 2px white;
        color: white;
        background: rgba($color: #b4d2ef11, $alpha: 1);
        font-size: 1.5em;
        cursor: pointer;
        &:hover {
          background: rgba($color: #99c5ee11, $alpha: 1);
        }
      }
    }
  }
}
