.registerPage-container {
  .registerPage-wrapper {
    margin-top: 3rem;
    margin: auto;
    width: 40rem;
    .topLogo-container {
      margin: auto;
      margin-bottom: 1.5rem;
      text-align: center;
      span {
        cursor: pointer;
        font-size: 5em;
        font-weight: bold;
      }
    }
    .form-container {
      .form-id {
        input {
        }
        button {
          margin-top: 0.2rem;
          margin-left: 34rem;
          position: absolute;
          height: 4rem;
          width: 7%;
          opacity: 0.4;
        }
      }
      .form-password {
        input {
        }
        svg {
          margin-top: 0.2rem;
          margin-left: 14rem;
          position: absolute;
          height: 4rem;
          width: 7%;
          opacity: 0.5;
        }
      }
      .form-submit {
        button {
          border-radius: 3px;
          font-size: 3em;
          color: white;
          cursor: pointer;
          width: 100%;
          height: 4rem;
          background: rgb(110, 218, 230);
          border: none;
        }
        button:hover {
          background: rgb(148, 255, 173);
        }
      }
      span {
        display: block;
        width: 100%;
      }
      input {
        margin-bottom: 1.7rem;
        width: 99%;
        height: 4rem;
        font-size: 3em;
      }
      button {
      }
    }
  }
}
