.headerDrawer-container {
  position: absolute;
  width: 100%;
  height: 2.2rem;
  background: rgb(92, 186, 223);
  top: 0;
  //   padding: 0.5rem;
  z-index: 900;
  .headerDrawer-wrapper {
    padding-top: 0.4rem;
    .headerDrawer-logo {
      margin-left: 44%;
      font-size: 1.2em;
      font-weight: bold;
    }

    .headerDrawer__btn {
      float: right;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
  .drawer-container {
    margin-top: 0.3rem;
    transition-property: all;
    transition-duration: 0.18s;
    position: fixed;
    display: flex;
    .drawer-padding {
      width: 70vw;
      height: 100vh;
      z-index: 9999;
      background: linear-gradient(
        to right,
        transparent,
        rgba(128, 169, 201, 0.662),
        rgb(117, 165, 202)
      );
      //   background: rgba(128, 169, 201, 0.662);
    }
    .drawer-main {
      width: 40vw;
      height: 100vh;
      z-index: 10000;
      background: rgb(117, 165, 202);
      &::after {
        content: "왼쪽 여백을 클릭 시 메뉴창이 닫힙니다.";
        color: rgba(97, 92, 92, 0.608);
        margin-top: 1rem;
      }
      ol {
        cursor: default;
        color: white;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
      li {
        cursor: pointer;
        font-size: 1.3em;
        margin-bottom: 0.5rem;
        &:hover {
          color: white;
        }
      }
    }
  }
}
