@import "../mixins";
.header-container {
  background: url(../../../../public/assets/background/images/metalBluePaint.jpg);
  height: 100%;
  z-index: 1000;
  position: relative;
  top: 0;
  .header-wraper {
    @include inner_container_pc();
    padding: 0.4rem;
    width: 100%;
    height: 100%;
    .btn-container {
      display: flex;
      justify-content: flex-end;
      .header__btn {
        color: white;

        height: 2rem;
        border: none;
        border-radius: 3px;
        margin-right: 1rem;
      }
    }
  }
}
