@import "../mixins";
.header-container {
  background: url(../../../../public/assets/background/images/metalBluePaint.jpg);
  height: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;
  .header-wraper {
    @include inner_container_pc();
    padding: 0.4rem;
    .btn-container {
      display: flex;
      justify-content: flex-end;
      button {
        background: black;
        color: white;
        margin-left: 1rem;
        height: 2rem;
        border: none;
        border-radius: 3px;
        &:hover {
          background: rgba(118, 176, 173, 0.874);
          color: black;
        }
      }
      .header__btn--login {
      }
      .header__btn--hello {
      }
    }
  }
}
