@import "../mixins";

.menuBar-container {
  width: 100%;
  .menuBar-wrapper {
    @include inner_container_pc();
    padding: 0.6rem;

    .btn-container {
      display: flex;
      justify-content: center;
      .btn-wrapper {
        margin-left: 2rem;
        margin-right: 2rem;
        cursor: pointer;
        border: none;
        font-weight: bold;
        color: white;
        font-size: 1.3em;
        .panel-container {
          display: none;
        }
      }
    }
  }
}
