@import "../mixins";

.menuBar-container {
  width: 100%;
  .menuBar-wrapper {
    @include inner_container_pc();
    padding: 0.6rem;

    .btn-container {
      display: flex;
      justify-content: center;
      .btn-wrapper {
        padding: 1rem 1rem 1rem;
        border-radius: 15px;
        button {
          cursor: pointer;
          border: none;
          padding: 0.4rem;
          background: white;
          font-weight: bold;
        }
        .panel-container {
          display: none;
        }
        &:hover {
          background: rgba($color: #87787872, $alpha: 1);
          button {
            background: rgba($color: #f3e3e3ce, $alpha: 1);
          }
          .panel-container {
            display: block;
            color: white;
          }
        }
      }
    }
  }
}
