.RightSection-container {
  height: 100%;

  .map-roof {
    height: 3rem;
    font-size: 2em;
    background: black;
    color: white;
    text-align: center;
  }
  .map-container {
  }
  .accordian-container--map {
    background: black;
    color: white;
    text-align: center;
    font-size: 2em;
    transition: 0.5s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    &:hover {
      background: blue;
    }
  }
  .mapList-container {
    // height: 100vh;

    .list-container {
      padding: 10px;
    }
  }
}
.test {
  z-index: 100;
  top: 2rem;
  position: sticky;
}
