.topicCtr-container {
  .topicCtr-wrapper {
    border:solid 1px lightgray;
    padding: 0.5rem;
    display: flex;
    height: 3rem;
    width: 98%;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    
    .general-section {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: lightgray;
      span {
      }
    }
    .adPosts-section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      background: rgb(154, 154, 160);
      span {
      }
    }
  }
}
