.leftSection-container {
  height: 125vw;
  border: double 4px black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  .leftSection-wrapper {
    top: 2.5rem;
    position: sticky;
  }
  .roof-container {
    cursor: pointer;
    display: flex;
    .left-roof {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      border-top-left-radius: 11px;
      text-align: center;
      background: black;
      color: white;
      width: 33%;
      font-size: 1em;
      padding-left: 1rem;
    }
    .middle-roof {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      text-align: center;
      background: blue;
      color: white;
      width: 33%;
      font-size: 1em;
      padding-left: 1rem;
    }
    .right-roof {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      text-align: center;
      background: blue;
      color: white;
      width: 35%;
      font-size: 1em;
      padding-left: 1rem;
    }
  }

  .leftSection-btnContainer {
    display: grid;
    .btn__right--default {
      width: 5rem;
    }
    .btn__right--chat {
      width: 5rem;
    }
    .favoriteGroup-accordian {
    }
  }
}
.leftSection-bottom {
  cursor: pointer;
  background: black;
  color: white;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
