.communityMain-container {
  // height: 1000rem;
  display: flex;
  height: 100%;
  .communityMain-left {
    // height: 100%;
    width: 60%;
  }
  .communityMain-right {
    width: 40%;
    height: 100%;
    .menuTool-container {
      height: 70rem;
      position: relative;
    }
  }
}
