.communityMain-container {
  // height: 1000rem;
  display: flex;
  margin-bottom: 6rem;
  .communityMain-left {
    height: 100%;
    width: 60%;
  }
  .communityMain-right {
    width: 40%;
    .menuTool-container {
      height: 100vh;
      position: relative;
    }
  }
}
