.miniInquiry-container {
  margin-bottom: 2.5rem;
  width: 95%;
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
  box-shadow: 16px 12px 10px rgba(67, 103, 149, 0.667);
  background: rgba($color: #425fdf, $alpha: 1);
  .miniInquiry-wrapper {
    border-radius: 6px;
    padding-bottom: 1rem;
    background: #d0d6f2;
    height: 100%;
    width: 100%;
    .miniInquiryLabel-container {
      border-radius: 6px;
      padding-top: 1.4rem;
      color: white;
      height: 4rem;
      background: linear-gradient(to top, transparent, #425fdf);
      span:nth-child(1) {
        font-size: 1.3em;
        margin-left: 1rem;
        font-weight: bold;
        cursor: default;
      }
      a:nth-child(2) {
        float: right;
        color: white;
        margin-right: 1rem;
        svg {
          margin-left: -1rem;
          cursor: pointer;
        }
      }
    }
    .miniInquiryList-container {
      border-radius: 6px;
      background: white;
      margin: auto;
      width: 95%;
      margin-top: 1rem;
      a:nth-child(1) {
        color: black;
        cursor: pointer;
        font-weight: bold;
      }
      a:nth-child(3) {
        color: black;
        cursor: pointer;
        margin-left: 1rem;
      }
    }
  }
}
