.loginPage-container {
  margin-top: 7rem;
  .loginPage-wrapper {
    margin: auto;
    width: 50rem;
    .topLogo-container {
      margin: auto;
      margin-bottom: 1.5rem;
      text-align: center;
      span {
        cursor: pointer;
        font-size: 5em;
        font-weight: bold;
      }
    }
    .navForm-container {
    }
    .form-container {
      overflow: hidden;
      width: 50rem;
      margin: auto;
      margin-bottom: 2rem;
      .form--common {
        margin: auto;
        input {
          font-size: 2em;
          width: 99%;
          height: 4rem;
          margin-bottom: 1rem;
          background: rgb(204, 227, 255);
          border: solid 1px rgb(254, 217, 225);
          //id
          &:nth-child(1) {
          }
          //pw
          &:nth-child(2) {
          }
        }
        .form-container__checkBox {
          margin-bottom: 1rem;
        }
        .form__btn--submit {
          margin-bottom: 0.5rem;
          width: 100%;
          padding-right: 10px;
          background: black;
          text-align: center;
          cursor: pointer;
          transition: 0.5s;
          padding-top: 0.3rem;
          padding-bottom: 0.3rem;
          span {
            font-size: 3em;
            color: white;
          }
          &:hover {
            background: blue;
          }
        }
        .form__btn--other {
          span {
            cursor: pointer;
            margin-right: 1rem;
          }
          span:hover {
            color: blue;
          }
        }
      }
    }
    .navLogin-container {
      margin-left: 4rem;
      img {
        margin-right: 2rem;
        &:nth-child(1) {
          width: 20rem;
          height: 4rem;
        }
        &:nth-child(2) {
          width: 20rem;
          height: 4rem;
        }
      }

      .login-conatiner--google {
        margin-top: 0.3rem;
        height: 4rem;
        width: 42rem;
        border-radius: 8px;
        border: solid 1px rgb(240, 245, 250);
        display: table;
        img {
          margin-left: 1rem;
          width: 3rem;
          position: absolute;
        }
        span {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          font-size: 2em;
        }
      }
    }
  }
}
