.MainPage-container {
  .background1-wrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
  }
  .introduceTop-wrapper {
    width: 100vw;
    height: 30rem;
  }

  .introduceLabel-wrapper {
    width: 100vw;
    height: 30rem;
  }
}
