.MainPage-container {
  .background1-wrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
  }
  .introduceTop-wrapper {
    width: 100vw;
    height: 30rem;
  }
  .introduceEx-wrapper {
    background-color: rgba(62, 209, 219, 0.932);
    width: 100vw;
    height: 15rem;
  }
  .introduceLabel-wrapper {
    width: 100vw;
    height: 30rem;
  }
}
