.postGroup-accordian {
  .postGroup-accordian__btn--turn {
    background: black;
    color: white;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .postGroup-panel {
    display: block;
    max-height: 0px;
    overflow: hidden;
    border: solid 1px black;
    // .Priority-labelSection {
    //   &:first-child {
    //     margin-top: 0.4rem;
    //   }
    //   font-weight: bold;
    // }
    .Priority-section {
      display: table;
      .nameLabel {
        display: table-cell;
        vertical-align: middle;
        height: 2rem;
        width: 2.5rem;
        padding: 3px;
        background: rgba(3, 93, 111, 0.567);
        color: white;
        // border-top-left-radius: 5px;
        // border-bottom-left-radius: 5px;
      }
      .Priority-nickSection {
        display: table-cell;
        color: white;
        vertical-align: middle;
        height: 2rem;
        width: 23rem;
        background: rgb(103, 186, 214);
        padding-left: 10px;
      }
      .move__btn {
        display: table-cell;
        vertical-align: middle;
        height: 2rem;
        width: 2rem;
        padding: 3px;
        background: rgb(174, 219, 235);
        color: white;
        // border-top-right-radius: 5px;
        // border-bottom-right-radius: 5px;
        cursor: pointer;
        &:hover {
          color: black;
          background: blue;
        }
      }
    }
    .ctrSection {
      margin-bottom: 1rem;
      border-bottom: solid 1px black;
      display: flex;
      color: white;

      &:last-child {
        margin-bottom: 0;
      }
      .ctrSection__btn--delete {
        cursor: pointer;
        background-color: rgba(118, 111, 111, 0.682);
        width: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;

        &:hover {
          background-color: rgba(84, 79, 79, 0.682);
          transition: background-color 0.5s ease-in-out;
        }
      }
      .ctrSection__btn--modify {
        cursor: pointer;
        width: 50%;
        background-color: rgba(118, 111, 111, 0.682);
        border: none;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: rgba(84, 79, 79, 0.682);
          transition: background-color 0.5s ease-in-out;
        }
      }
    }
  }
  .postGroup-bottom {
    margin-bottom: 1rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.81);
    color: white;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: rgba(0, 0, 0, 0.195);
      transition: background-color 0.5s ease-in-out;
    }
  }
}
